<div class="fixed bottom" id="cookie-bar">
  <div class="container">
    <div class="row" *ngIf="updateStatus.active == true">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 alert alert-success">
        <div>
          <p>{{updateStatus.message}}</p>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="updateStatus.active == false">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 alert alert-danger">
        <div>
          <p>{{updateStatus.message}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<main>
  <div class="bg_color_2">
    <div class="container margin_60_35">
      <div id="register">
        <h1>Share your opinion for {{currentCompanyName}} now</h1>
        <div class="row justify-content-center">
          <div class="col-md-5">
            <form [formGroup]="reviewData" (ngSubmit)="addReview()">
              <div class="box_form">
                <div class="form-group">
                  <label>Rating Value</label>
                  <div class="add-rating">
                      <input type="radio" id="star5" name="rating" value="5" />
                      <label class = "full" for="star5" title="Awesome - 5 stars" (click)='selectedRating(5)'></label>
                      <input type="radio" id="star4half" name="rating" value="4.5" />
                      <label class="half" for="star4half" title="Pretty good - 4.5 stars" (click)='selectedRating(4.5)'></label>
                      <input type="radio" id="star4" name="rating" value="4" />
                      <label class = "full" for="star4" title="Pretty good - 4 stars" (click)='selectedRating(4)'></label>
                      <input type="radio" id="star3half" name="rating" value="3.5" />
                      <label class="half" for="star3half" title="Meh - 3.5 stars" (click)='selectedRating(3.5)'></label>
                      <input type="radio" id="star3" name="rating" value="3" />
                      <label class = "full" for="star3" title="Meh - 3 stars"></label>
                      <input type="radio" id="star2half" name="rating" value="2.5" />
                      <label class="half" for="star2half" title="Kinda bad - 2.5 stars" (click)='selectedRating(2.5)'></label>
                      <input type="radio" id="star2" name="rating" value="2" />
                      <label class = "full" for="star2" title="Kinda bad - 2 stars" (click)='selectedRating(2)'></label>
                      <input type="radio" id="star1half" name="rating" value="1 and a half" />
                      <label class="half" for="star1half" title="Meh - 1.5 stars" (click)='selectedRating(1.5)'></label>                      
                      <input type="radio" id="star1" name="rating" value="1" />
                      <label class = "full" for="star1" title="Sucks big time - 1 star" (click)='selectedRating(1)'></label>
                  </div>                  
                </div>
                <div class="form-group">
                  <label>Review Title</label>
                  <input type="text" formControlName="reviewTitle" class="form-control" placeholder="Review Title">
                </div>
                <div class="form-group">
                  <label>Review</label>
                  <textarea class="form-control" formControlName="reviewText" placeholder="Say what you love or hate about {{currentCompanyName}}"
                    rows="4" cols="50"></textarea>
                </div>
                <div class="form-group text-center add_top_30">
                  <input class="btn_1" type="submit" value="Submit">
                </div>
              </div>
              <p class="text-center">
                <small>Has voluptua vivendum accusamus cu. Ut per assueverit temporibus dissentiet. Eum no atqui putant democritum,
                  velit nusquam sententiae vis no.</small>
              </p>
            </form>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /register -->
    </div>
  </div>
</main>