<main>
  <div id="breadcrumb">
    <div class="container">
      <ul>
        <li><a [routerLink]="['']">Home</a></li>
        <li>No-Access</li>
      </ul>
    </div>
  </div>
  <!-- /breadcrumb -->

  <div class="container margin_120">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div id="confirm">
          <div class="icon icon--order-success svg add_bottom_15">
            <i class=" icon-cancel-circled-2"></i>
          </div>
        <h2>Sorry! you don't have right permission</h2>
        <p>If you think it's happen just because a bug, let us know on bug@rauth.com</p>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</main>