<div class="sidebar" data-background-color="white" data-active-color="danger">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a class="simple-text">
                    rAuth
                </a>
        </div>

        <ul class="nav">
            <li>
                <a href="index">
                    <i class="ti-panel"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="addReview">
                    <i class="ti-slice"></i>
                    <p>Add Review</p>
                </a>
            </li>
            <li>
                <a href="reviews">
                    <i class="ti-list"></i>
                    <p>Review List</p>
                </a>
            </li>
            <li>
                <a href="addUser">
                    <i class="ti-user"></i>
                    <p>Add User</p>
                </a>
            </li>
            <li>
                <a href="users">
                    <i class="ti-list"></i>
                    <p>User List</p>
                </a>
            </li>
            <li>
                <a href="addCompany">
                    <i class="ti-archive"></i>
                    <p>Add Company</p>
                </a>
            </li>
            <li>
                <a href="companies">
                    <i class="ti-list"></i>
                    <p>Company List</p>
                </a>
            </li>
        </ul>
    </div>
</div>